:host {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.dialog-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    padding: 0px;
    margin: 0px;
    height: fit-content !important;
    font: var(--mat-sys-title-large);
    font-weight: 500;
    color: var(--color-main-20);
  }
}

.dialog-icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;

  display: grid;
  grid-row: 2;
  place-items: center;

  font-size: 2rem;
  color: var(--color-main-60);
  background-color: var(--color-main-90);

  &.warn {
    color: var(--color-orange-60);
    background-color: var(--color-orange-90);
  }
  &.danger,
  &.delete {
    color: var(--color-red-60);
    background-color: var(--color-red-90);
  }
}

.dialog-body {
  margin-top: 2rem;
  font: var(--mat-sys-title-medium);

  p {
    color: var(--color-desat-50);

    &.warning {
      color: var(--color-red);
    }
  }
}

form {
  display: grid;
  place-items: center;
  margin-top: 1rem;

  & > * {
    width: 100%;
  }
}

.radio-label {
  margin-bottom: 0.5rem;
}

mat-dialog-actions {
  margin-top: 2rem;
}