:host {
  transform: scale(var(--CUSTOM-SPINNER-SCALE, 1));
  display: block;
}

@keyframes bouncer-bounce {
  20% {
    left: calc(100% - var(--CUSTOM-SPINNER-BALL-SIZE, 16px));
    width: 0px;
    height: 0px;
  }
  60% {
    left: 0%;
    width: 66.666%;
    height: var(--CUSTOM-SPINNER-BALL-SIZE, 16px);
  }
  100% {
    left: 0%;
    width: 0px;
    height: 0px;
  }
}

@keyframes bouncer-color-swap {
  0% {
    background-color: var(--color-main-40);
  }
  33% {
    background-color: var(--color-main-40);
  }
  33.333% {
    background-color: var(--color-main-60);
  }
  66% {
    background-color: var(--color-main-60);
  }
  66.667% {
    background-color: var(--color-main-50);
  }
  100% {
    background-color: var(--color-main-50);
  }
}

@keyframes bouncer-rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  6.667% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(var(--CUSTOM-SPINNER-SHRINK-SCALE, 0.6));
  }
  33.333% {
    transform: rotate(120deg) scale(1);
  }
  40% {
    transform: rotate(120deg) scale(1);
  }
  53.333% {
    transform: rotate(180deg) scale(var(--CUSTOM-SPINNER-SHRINK-SCALE, 0.6));
  }
  66.667% {
    transform: rotate(240deg) scale(1);
  }
  73.333% {
    transform: rotate(240deg) scale(1);
  }
  86.667% {
    transform: rotate(300deg) scale(var(--CUSTOM-SPINNER-SHRINK-SCALE, 0.6));
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.custom-spinner-wrapper {
  width: var(--CUSTOM-SPINNER-RADIUS, 110px);
  height: var(--CUSTOM-SPINNER-RADIUS, 110px);
  border-radius: 50%;
  animation: bouncer-rotate var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms) ease infinite;
  position: relative;

  .bouncer-wrapper {
    width: inherit;
    height: var(--CUSTOM-SPINNER-BALL-SIZE, 20px);
    position: absolute;

    &.bouncer-wrapper-1 {
      top: 39.5%;
      left: 29.5%;
      transform: translate(-50%, -50%) rotate(120deg);

      .bouncer {
        background-color: var(--color-main-40);
        animation:
          bouncer-bounce calc(var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms) / 3) ease infinite,
          bouncer-color-swap var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms)
            calc((var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms) / 3) * 2) ease infinite;
      }
    }

    &.bouncer-wrapper-2 {
      top: 39.5%;
      left: 70.5%;
      transform: translate(-50%, -50%) rotate(240deg);

      .bouncer {
        background-color: var(--color-main-50);
        animation:
          bouncer-bounce calc(var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms) / 3) ease infinite,
          bouncer-color-swap var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms)
            calc(var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms) / 3) ease infinite;
      }
    }

    &.bouncer-wrapper-3 {
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(360deg);

      .bouncer {
        background-color: var(--color-main-60);
        animation:
          bouncer-bounce calc(var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms) / 3) ease infinite,
          bouncer-color-swap var(--CUSTOM-SPINNER-ANIMATION-DURATION, 5000ms) ease infinite;
      }
    }

    .bouncer {
      width: 0px;
      height: 0px;
      position: relative;
      border-radius: 999px;
    }
  }
}
